/* border-box */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* Undoes normalize.css setting box-sizing to content-box */
input[type="search"] {
  box-sizing: border-box;
}

body {
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content_container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container {
  width: 500px;
  margin: 50px auto;
}

.title_container {
  width: 500px;
  margin: 50px auto;
}

.title {
  color: white;
  text-align: right;
  font-family: Helvetica, Sans-serif;
  font-size: 3.0em;
}

.sub_title {
  color: white;
  text-align: right;
  font-family: Helvetica, Sans-serif;
  font-size: 1.0em;

}

.Search {
  position: relative;
  display: flex;
  font-weight: 300;
  font-size: 40px;
  color: #555;
}

.Search-box {
  flex: 1 0 auto;
  margin: 0 12px;
  padding: 8px 20px;
  height: 80px;
  border: 0;
  font-family: Helvetica;
  font-size: 0.7em;
  text-align: center;
  box-shadow: 0 3px 12px -1px rgba(0, 0, 0, .3);
  transition: all .15s ease-in-out;
}

.Search-box::-webkit-input-placeholder {
    font-family: Helvetica-Light;
}

.Search-box:focus {
  flex: 1 0 90%;
  margin: 0;
  outline: 0;
}

.Search-label {
  position: absolute;
  top: 14px;
  right: 30px;
  font-size: 40px;
  transition: all .15s ease-in-out;
}

.Search-box:focus + .Search-label {
  transform: translateX(12px);
}

