<!DOCTYPE html>
<html>
  <head>
		<title>CIS192 Project</title>
		<link rel="stylesheet" href="../static/home.css?q=1280549791"
   type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	</head>
  <body>
  <div class="content_container">
<div class="title_container">
        <text class="title">Rating from Reviews</text>
        <text class="sub_title">by NLP</text>
</div>
<div class="container">
  <form action="/result" method="post" class="Search">
    <input class="Search-box" type="search" placeholder="Search Restaurant" onfocus="this.placeholder = ''" onblur = "this.placeholder = 'Search Restaurant'" id="Search-box" autocomplete="off" name="restaurant">
    <label class="Search-label" for="Search-box"><i class="fa fa-search"></i></label>
  </form>
</div>
</div>
  </body>
</html>