<!DOCTYPE html>
<html>
	<head>
		<title>CIS192 Project</title>
		<link rel="stylesheet" href="../static/home.css?q=1280549782"
   type="text/css" media="screen" charset="utf-8" />
		
	</head>
	<body>
		<div class="form_container">
			<h1>CIS192 Project</h1>
			<form>
				Restaurant Name: <input type="text" name="restaurant"><br>
				<input type="submit" value="Search" formmethod="post" formaction="/result">
			</form>
			<form id="demo-2">
				<input type="search" placeholder="Search">
				<input type="submit" formmethod="post" formaction="/result"/>
			</form>
		</div>
	</body>
</html>